.input-wrapper {
  display: flex;
  flex-direction: column;
}

.p-inputtext {
  border: 2px solid $secondary-colour;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
}

label {
  font-weight: 400;
  font-size: 1rem;
  color: $dark-colour;
  margin-bottom: 3px;
}

.p-button {
  border: 2px solid $secondary-colour;
  background-color: $secondary-colour;
  width: 400px;
  height: 40px;
}

.error-msg {
  font-weight: 400;
  font-size: 0.9rem;
  color: red;
  margin-top: 3px;
}
