h1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  color: $dark-colour;
  @include media(">=tablet") {
    font-size: 4rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: $primary-colour;
  @include media(">=tablet") {
    font-size: 2rem;
  }
}

p {
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
  @include media(">=tablet") {
    font-size: 1.5rem;
  }

  span {
    font-weight: 700;
  }
}

a {
  text-decoration: none;
  color: black;
}
