@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "/node_modules/primeflex/primeflex.css";
@import "primereact/resources/themes/lara-light-teal/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "partials/include-media";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding-bottom: 100px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--surface-50);
  color: var(--text-color);
}

h1 {
  font-weight: 700;
  font-size: 2rem;

  margin-bottom: 3rem;
  color: var(--teal-500);

  @include media(">=tablet") {
    font-size: 2.7rem;
  }
}

// Loader
@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: var(--teal-200);
  }
  40% {
    stroke: var(--teal-400);
  }
  66% {
    stroke: var(--teal-600);
  }
  80%,
  90% {
    stroke: var(--teal-800);
  }
}
